@import "https://fonts.googleapis.com/css?family=Catamaran";
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
}

body {
  background: #eee;
}

#container {
  margin: 0 auto;
  max-width: 600px;
  padding: 10%;
  position: relative;
  top: 0;
}

#svg {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#svg path {
  fill: none;
  stroke-width: 3;
  stroke: lightseagreen;
  stroke-dasharray: 6, 5;
}

h1, h2, h3 
{
  color: lightseagreen;
  text-align: right;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

h2
{
    text-align: inherit;
    font-size: 2rem;
}

h3
{
    font-size: 1.6rem;
    text-align: inherit;
}

code {
  font-family: monospace;
  padding: 20px;
  background-color: lightgray;
  display: block;
  color: #333;
  border-radius: 10px;
  white-space: nowrap;
  overflow-x: auto;
}

.block {
  padding: 50px;
  position: relative;
}
.block:nth-child(even) {
  margin-right: 20%;
}
.block:nth-child(odd) {
  margin-left: 20%;
}



.block.full{
  margin: 0;
}

.block span
{
  padding: 0 20px;
}

.block.right {
  text-align: right;
}
.block.point:after {
  
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 50%;
  background-color: lightseagreen;
  color: white;
  line-height: 60px;
  font-size: 30px;
  text-align: center;
  border: 3px solid #eee;
}

.block.point.step-1:after {content: '1';}
.block.point.step-2:after {content: '2';}
.block.point.step-3:after {content: '3';}
.block.point.step-4:after {content: '4';}
.block.point.step-5:after {content: '5';}
.block.point.step-end:after {
  content: '';
  width: 20px;
  height: 20px;
  top: 100%;
}

.block.step-end
{
  padding: 200px 50px 10px 50px;
}

.left:after {
  
  left: 0;
  -webkit-transform: translatex(-50%) translatey(-50%);
          transform: translatex(-50%) translatey(-50%);
}
.right:after {
  right: 0;
  -webkit-transform: translatex(50%) translatey(-50%);
          transform: translatex(50%) translatey(-50%);
}

@media only screen and (min-width : 480px) {
  .block{ 
    margin: 0 !important; 
    padding: 40px;
  }

  .block.point:after {
    width: 40px;
  height: 40px;
  line-height: 40px;
  }
}